<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Guestbook</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/SrimatTirumalaPallerlamudi_Aditya.css">
    

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/guestbook.css">
</head>

<body class="container">
    <div class="header-container">
        <header class="wrapper clearfix">


            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:8081/index.html">About</a>
                    </li>
                    <li><a href="http://127.0.0.1:8081/bank.html">Bank</a>
                    </li>
                    <li><a href="http://127.0.0.1:8081/Contact.html">Contact</a>
                    </li>
                    <li><a href="http://127.0.0.1:8081/views/index.ejs">Guestbook</a>
                    </li>
                </ul>
            </nav>

        </header>
    </div>
    <h1>
        Express Guestbook
        <a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
</body>

</html>